@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Serif:opsz,wght@8..144,300;8..144,600;8..144,800&display=swap');

body {
    font-family: 'Roboto',
            sans-serif;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

#letter-choice {
    margin-right: 10px;
    margin-left: 10px;
}

#letter-buttons {
    margin-top: 2rem;
}

.basic-instructions {
    background-color: #49c195;
    color: #ffffff;
    font-weight: 600;
    font-size: larger;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10%;
    width: 35%;
    border: 5px solid #ee1b29;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#timer-box {
    margin-left: 15%;
    
}

#counter {
    color: #ee1b29;
    font-weight: 600;
    font-size: 500%;
}

#timer-label {
    color: #0d070c;
    font-weight: 600;
    font-size: 200%;
}

#words {
    color: #0d070c;
    font-weight: 600;
    font-size: 500%;
}

#input {
    color: #0d070c;
        font-weight: 600;
        font-size: 300%;
}

#input label {
    font-size: 50%;
}

#input input {
    text-align: center;
}

#zoo {
    display: flex;
    background-color: #ee1b29;
    color: #ffffff;
    font-size: 300%;
    font-weight: 600;
    margin: 5%;
    border: 5px solid #0d070c;
}

#d-instructions {
    margin-left: 45%;
    margin-right: 45%;
}

#high-score {
    text-align: center;
    font-size: 200%;
    font-weight: 600;
    color: #0d070c;
    margin: 2%
}