@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Serif:opsz,wght@8..144,300;8..144,600;8..144,800&display=swap');

/*SPEEDY FINGERS - JENNIE WILLSON - STYLE.CSS*/

/*GENERAL STYLES*/

body {
    font-family: 'Roboto',
            sans-serif;
}

/*LOGO*/

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

/*OPTIONS*/

.letter-choice {
    margin-right: 10px;
    margin-left: 10px;
}

#letter-buttons {
    margin-top: 2rem;
}

/*BASIC INSTRUCTIONS*/

#basic-instructions {
    background-color: #49c195;
    color: #ffffff;
    font-weight: 600;
    font-size: larger;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10%;
    width: 35%;
    border: 5px solid #ee1b29;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*TIMER*/

#timer-box {
    margin-left: 15%;
    display: none;
}

#counter {
    color: #ee1b29;
    font-weight: 600;
    font-size: 500%;
}

#timer-label {
    color: #0d070c;
    font-weight: 600;
    font-size: 200%;
}

/*WORDS*/

#words {
    color: #0d070c;
    font-weight: 600;
    font-size: 500%;
    display: none;
}

/*USER INPUT*/

#input {
    color: #0d070c;
    font-weight: 600;
    font-size: 300%;
    display: none;
}

#input label {
    font-size: 50%;
}

#input input {
    text-align: center;
}

/*ZOO*/

#zoo {
    display: flex;
    background-color: #ee1b29;
    color: #ffffff;
    font-size: 300%;
    font-weight: 600;
    margin: 2%;
    border: 5px solid #0d070c;
    display: none;
    padding: 2rem;
}

/*DETAILED INSTRUCTIONS*/

.modal-content {
    padding-left: 3rem;
    padding-right: 3rem;
}

.modal-header h4 {
    font-weight: 600;
    font-size: 300%;
}

.modal-body {
    font-weight: 200;
    font-size: 150%;
    line-height: 3rem;
}

/*MODAL BUTTONS*/

.btn-xl {
    width: 75%;
    
}

/*FOOTER*/

footer {
    font-size: 100%;
    text-align: center;
    padding-top: 3%;
}

.fa-brands {
    font-size: 150%;
}