@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Serif:opsz,wght@8..144,300;8..144,600;8..144,800&display=swap');

/*SPEEDY FINGERS - JENNIE WILLSON - STYLE.CSS*/

/*GENERAL STYLES*/

body {
    font-family: 'Roboto',
        sans-serif;
    padding-bottom: 10%;
}

a {
    text-decoration: none;
    color: inherit;
}

#noscript {
    font-size: 50px;
    font-weight: 600;
    color: #ee1b29;
    text-align: center;
}

/*LOGO*/

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

/*TAGLINE*/

.tagline {
    background-color: #f7d126;
    color: #0d070c;
    font-size: 30px;
    border: #0d070c solid 3px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    border-radius: 20px;
    max-width: 70%;

}

/*OPTIONS*/

.letter-choice {
    margin-right: 10px;
    margin-left: 10px;
    display: block;
}

#letter-buttons {
    margin-top: 2rem;
}

/*BASIC INSTRUCTIONS*/

#basic-instructions {
    background-color: #49c195;
    color: #ffffff;
    font-weight: 600;
    font-size: 25px;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 20px;
    width: 60%;
    border: 5px solid #0d070c;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

#basic-instructions i {
    color: #ee1b29;
}

/*TIMER*/

#timer-box {
    text-align: center;
    padding-top: 5%;
    display:none;
}

#counter {
    color: #ee1b29;
    font-weight: 600;
    font-size: 500%;
}

#timer-label {
    color: #0d070c;
    font-weight: 600;
    font-size: 200%;
}

/*WORDS*/

#words {
    color: #0d070c;
    font-weight: 600;
    font-size: 600%;
    margin: auto;
    text-align: center;
    background-color: #49c195;
    display: none;
    border: #0d070c solid 7px;
}

/*ERROR IF API DOES NOT WORK*/

#error {
    font-size: 25%;
}

/*USER INPUT*/

#input {
    color: #0d070c;
    font-weight: 600;
    font-size: 300%;
    display: none;
    text-align: center;
}

#input label {
    font-size: 50%;
}

#input input {
    text-align: center;
}

/*CURRENT GAME SCORE*/

#score-box {
    text-align: center;
    padding-top: 5%;
    display: none;
}

#score-label {
    color: #0d070c;
    font-weight: 600;
    font-size: 200%;
}

#current-score {
    color: #0d070c;
    font-weight: 600;
    font-size: 500%;
}

/*HIGH SCORES*/

.score-title {
    text-align: center;
    text-decoration: solid;
    font-size: 150%;
}

.score {
    text-align: center;
    color: #49c195;
    font-size: 150%;
}

/*ZOO*/

#zoo {
    display: flex;
    background-color: #ee1b29;
    color: #ffffff;
    font-size: 300%;
    font-weight: 600;
    margin: 2%;
    border: 5px solid #0d070c;
    padding: 2rem;
    display: none;
}

/*DETAILED INSTRUCTIONS*/

.modal-xl {
    max-width: 90%;
}

.modal-content {
    padding-left: 2rem;
    padding-right: 2rem;
}

.modal-header h4 {
    font-weight: 600;
    font-size: 300%;
}

.modal-body {
    font-weight: 200;
    font-size: 150%;
    line-height: 3rem;
}

/*MODAL BUTTONS*/

.btn-xl {
    width: 75%;
}

.scores-instruct {
    color: #0d070c;
    height: 100px;
    font-size: xx-large;
    font-weight: 600;
    line-height: 80px;
    border: #0d070c solid 4px;
    border-radius: 20px;
}

#d-instruct-btn {
    background-color: #ee1b29;
}

#high-scores-btn {
    background-color: #49c195;
}

/*GAME END MODALS*/

.game-end-modal {
    font-size: 200%;
}

/*FOOTER*/

footer {
    position: fixed;
    bottom: 0px;
    background-color: #ffffff;
    font-size: 100%;
    text-align: center;
    width: 100%;
    padding-top: 2px;
    border-top: #0d070c solid 2px;
}

.fa-brands {
    font-size: 150%;
}

footer a:hover {
    color: #49c195;
}

footer i:hover {
    transform: scale(1.5, 1.5);
}

#message-link {
    text-decoration: underline;
    font-weight: 600;
}

/*CONTACT FORM*/

#contact-form {
    color: #ee1b29;
    background: #49c195;
    margin: 20px 15px 40px 15px;
    border: 3px solid #0d070c;
    max-width: 40%;
    max-height: 80%;
    padding: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    text-align: center;
}

#message {
    width: 80%;
}

#name {
    width: 80%;
}

#email {
    width: 80%;
}

/*404 PAGE*/

#broken-link-box {
    background: #ee1b29;
    color: #ffffff;
    border: 3px solid #0d070c;
    text-align: center;
    padding: 10px;
    margin: 5%;
    line-height: 30px;
}